html {
  overflow: -moz-scrollbars-vertical;
  height: 100%;
  width: 100%;
}

body {
	background: #FFFFFF;
	font-family:'Space Mono', 'Work Sans';
  font-size: 14px;
  background-color: #111111;
	color: rgb(0, 0, 0);
  height: 75%;
  width: 100%;
  color:#fff;
  margin: auto;
}

footer{
  font-family:'Space Mono';
  text-align: center;
}
.social_links{
  padding-bottom:10px;
}
.social_links a{
  font-size:30px;
  padding-right:10px;

}
.social_links a:hover{
  font-size:35px;
}
.email a:hover{
  font-size:15px;
}

.text_container_fit_screen{
  margin-top:12vw;
  height:50%;
  overflow: auto;
  padding-bottom: 50px;
}

.text_container_fit{
  padding: 25px 50px 50px 50px;
}

.text_title{
  display:block;
  margin:0 auto;
  font-weight:bold;
  line-height:1.0;
  text-align:center;
  font-family:'Space Mono';
}

@media screen and (min-aspect-ratio: 1 / 1){
  .text_title{
      font-size:5vw;
  }
}
@media screen and (max-aspect-ratio: 1 / 1){
  .text_title{
      font-size:9vw;
  }
}
.text_description{
  display:block;
  margin:0 auto;
  font-family:'Work Sans';
  line-height:1.5;
  text-align:center;
  padding-top:25px;
  font-size:20px;
  max-width: 60%;
}
header{
  padding: 30px 20px 30px 20px;
}
.menu {
  text-transform: uppercase;
  font-size: 20px;
  font-family:'Space Mono';
  display: inline-block;
  cursor: pointer;
  pointer-events: none;
  position: absolute;
  top: 25px;
  left: 25px;
}
.menu:hover {
  pointer-events: all;
}
.label {
display: inline-block;
font-weight:bold;
cursor: pointer;
pointer-events: all;
}
.spacer {
  display: inline-block;
  width: 100px;
  margin-left: 15px;
  margin-right: 15px;
  vertical-align: middle;
  border-bottom: 1px solid #ffffff;
  cursor: pointer;
  position: relative;
}
.item {
  position: relative;
  display: inline-block;
  cursor: pointer;
  pointer-events: all;
  margin-right: 30px;
  top: 0px;
}
.item:hover a {
  color: #ff0000;
}

a {
  text-decoration: none;
  color: inherit;
}

h1, h2 {
  font-family: 'Space Mono';
}

p {
  font-family: 'Work Sans';
}

.active {
  border-bottom: 1px solid #ffffff;
}

::-webkit-scrollbar {
  width: 10px;
  color:#fff;
}

.card {
  /* Add shadows to create the "card" effect */
  display: inline-block;
  margin: 25px 25px 25px 25px;
  border: 1px solid #ffffff;
  box-shadow: 0 4px 8px 0 #ffffff;
  width:40%;
  transition: 0.3s;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
  box-shadow: 0 8px 16px 0 #ffffff;
}

.card_text{
  padding: 2px 16px;
}

.card img {
  width:100%;
  height:250px;
}